.title-with-line {
  border-bottom: 4px solid #340034;
  padding-bottom: 0px;
  margin-bottom: 10px;
}

h1 {
  font-family: "DM Serif Display";
}

h2 {
  font-family: "Libre Baskerville";
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: -1; 
}

body {
  background-image: url('bg.jpg');
  background-size: auto;
  background-repeat: repeat;
  background-attachment: fixed;
}

.page {
  width: 850px;
  background-color: #ededed;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 50px;
  padding-top: 35px;
  border-radius: 10px;
}

.page p {
  font-family: "Roboto Serif";
  font-size: 15px;
}

.block {
  max-width: 750px;
  margin-left: 25px;
  background-color: #fafafa;
  padding: 30px;
  border-radius: 20px;
}

.pure-g {
  margin-bottom: 30px;
}
